https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv

1- How many rows of data are in the DataFrame?

2- What are the names and data types of the columns?

3- Do any of the columns contain null values?

4- Find all successful documentary projects and sort them by the amount pledged. Print the top 10 highest pledges.

5- Create a new column named average_per_backer and set its value to the total amount pledged / number of backers.

6- What happened to the rows with 0 backers? How can this be dealt with?

7- Drop all rows with 0 backers then repeat the previous exercise.

8- Create a DataFrame whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.

9- Merge these two DataFrames into a single DataFrame: nycflights13.
Please use the following dataset for merging purposes:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv


flights = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv')
airline = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv')

10- Are there any missing values in this DataFrame? If so, drop them.

11- Merge these two DataFrames into a single DataFrame called census.
Please use the following dataset for merging purposes:

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv'

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv'


12- Re-shape census so that one column contains all population measures, and another the year attributes.

13- Group the data by year and summarize it.

14- Group the data by region, division and year and summarize it.

15- Create a crosstab between state and category showing amount pledged as the value.
Please refer to the following link for this practice:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv

## Notes 
In the data frame a Y Columnn can be put before X Column -- df['Magnitude'][0]

In [12]:
import pandas as pd

In [76]:
data_frame_1 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv')

## How many rows of data are in the DataFrame?

In [77]:
print("Number of rows is ", data_frame_1.shape[0])

Number of rows is  65418

## What are the names and data types of the columns?

In [78]:
print(data_frame_1.dtypes)

id                 int64
name              object
category          object
main_category     object
deadline          object
goal             float64
launched          object
state             object
backers            int64
country           object
usd_pledged      float64
currency          object
pledged          float64
dtype: object

## 3- Do any of the columns contain null values?

In [80]:
print("Do we have any null values", data_frame_1.isnull().values.any())
data_frame_1.isnull().sum() / len(data_frame_1) *100

Do we have any null values True

id               0.00000
name             0.00000
category         0.00000
main_category    0.00000
deadline         0.00000
goal             0.00000
launched         0.00000
state            0.00000
backers          0.00000
country          0.00000
usd_pledged      1.13883
currency         0.00000
pledged          0.00000
dtype: float64

## Find all successful documentary projects 

and sort them by the amount pledged. Print the top 10 highest pledges.

In [52]:
data_frame_1.head()

id                    55532
name                  55464
category                158
main_category            15
deadline              53634
goal                   2384
launched              55519
state                     5
backers                1745
country                  21
usd_pledged           25060
currency                 13
pledged               17756
average_per_backer    30340
dtype: int64

In [82]:
data_frame_1.sort_values(by='usd_pledged', ascending=False).head(10)

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
12253,1033978702,OUYA: A New Kind of Video Game Console,Gaming Hardware,Games,2012-08-09 07:00:00,950000.0,2012-07-10 14:44:41,successful,63416,US,8596480.0,USD,8596480.0
26917,1152735261,Pono Music - Where Your Soul Rediscovers Music,Sound,Technology,2014-04-15 19:30:42,800000.0,2014-03-11 18:30:42,successful,18220,US,6225360.0,USD,6225360.0
45290,1074800880,Bloodstained: Ritual of the Night,Video Games,Games,2015-06-13 05:00:00,500000.0,2015-05-11 18:58:41,successful,64867,US,5545990.0,USD,5545990.0
46419,1045500705,Zombicide: Black Plague,Tabletop Games,Games,2015-07-07 02:00:00,125000.0,2015-06-08 20:59:38,successful,20915,US,4079200.0,USD,4079200.0
59897,132311747,Massive Darkness,Tabletop Games,Games,2016-07-08 01:00:00,200000.0,2016-06-07 21:02:31,successful,22361,US,3560640.0,USD,3560640.0
27604,1265992004,The Micro: The First Truly Consumer 3D Printer,3D Printing,Technology,2014-05-07 14:45:46,50000.0,2014-04-07 14:45:46,successful,11855,US,3401360.0,USD,3401360.0
45456,1194278206,Yooka-Laylee - A 3D Platformer Rare-vival!,Video Games,Games,2015-06-17 01:00:00,175000.0,2015-05-01 17:57:02,successful,73206,GB,3225230.0,GBP,2090100.0
22674,127494612,Reaper Miniatures Bones II: The Return Of Mr B...,Tabletop Games,Games,2013-10-27 01:00:00,30000.0,2013-10-01 16:00:34,successful,14964,US,3169610.0,USD,3169610.0
47232,1194924825,Reaper Miniatures Bones 3: The Search for Mr. ...,Tabletop Games,Games,2015-07-26 00:00:00,30000.0,2015-07-07 17:00:43,successful,13465,US,2730370.0,USD,2730370.0
57199,1241205786,OSSIC X: The first 3D audio headphones calibra...,Sound,Technology,2016-04-21 17:00:00,100000.0,2016-02-23 09:07:07,successful,10263,US,2708470.0,USD,2708470.0

In [87]:
data_frame_1.sort_values(by='usd_pledged', ascending=False)[0:10]

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
12253,1033978702,OUYA: A New Kind of Video Game Console,Gaming Hardware,Games,2012-08-09 07:00:00,950000.0,2012-07-10 14:44:41,successful,63416,US,8596480.0,USD,8596480.0
26917,1152735261,Pono Music - Where Your Soul Rediscovers Music,Sound,Technology,2014-04-15 19:30:42,800000.0,2014-03-11 18:30:42,successful,18220,US,6225360.0,USD,6225360.0
45290,1074800880,Bloodstained: Ritual of the Night,Video Games,Games,2015-06-13 05:00:00,500000.0,2015-05-11 18:58:41,successful,64867,US,5545990.0,USD,5545990.0
46419,1045500705,Zombicide: Black Plague,Tabletop Games,Games,2015-07-07 02:00:00,125000.0,2015-06-08 20:59:38,successful,20915,US,4079200.0,USD,4079200.0
59897,132311747,Massive Darkness,Tabletop Games,Games,2016-07-08 01:00:00,200000.0,2016-06-07 21:02:31,successful,22361,US,3560640.0,USD,3560640.0
27604,1265992004,The Micro: The First Truly Consumer 3D Printer,3D Printing,Technology,2014-05-07 14:45:46,50000.0,2014-04-07 14:45:46,successful,11855,US,3401360.0,USD,3401360.0
45456,1194278206,Yooka-Laylee - A 3D Platformer Rare-vival!,Video Games,Games,2015-06-17 01:00:00,175000.0,2015-05-01 17:57:02,successful,73206,GB,3225230.0,GBP,2090100.0
22674,127494612,Reaper Miniatures Bones II: The Return Of Mr B...,Tabletop Games,Games,2013-10-27 01:00:00,30000.0,2013-10-01 16:00:34,successful,14964,US,3169610.0,USD,3169610.0
47232,1194924825,Reaper Miniatures Bones 3: The Search for Mr. ...,Tabletop Games,Games,2015-07-26 00:00:00,30000.0,2015-07-07 17:00:43,successful,13465,US,2730370.0,USD,2730370.0
57199,1241205786,OSSIC X: The first 3D audio headphones calibra...,Sound,Technology,2016-04-21 17:00:00,100000.0,2016-02-23 09:07:07,successful,10263,US,2708470.0,USD,2708470.0

## Create a new column 

named average_per_backer and set its value to the total amount 
pledged / number of backers.

In [88]:
data_frame_1['average_per_backer']= \
             data_frame_1['pledged'] / data_frame_1['backers']

In [89]:
data_frame_1[0:1]

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged,average_per_backer
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.0,USD,40.0,10.0

## What happened to the rows with 0 backers? 

How can this be dealt with? The offending cells with nan can either 
be replace with 0 or dropped

In [92]:
# This one give a different then the command below.  It could be basuse it counting NaN
len(data_frame_1[ data_frame_1['backers'] == 0 ])

# This is the command below.
data_frame_1['average_per_backer'].isnull().sum()

# Did noot run this code.  Look for the 1st value and then replaces with 2nd or 3rd
# Idea If entry has 2nd column then fill in 2nd else 3rd
#data_frame_1['average_per_backer'] = np.where(df['backers']!=0, df['pledged']/df['backers'], np.nan)

9282

## Drop all rows with 0 backers 
then repeat the previous exercise.

In [23]:
data_frame_1= data_frame_1[data_frame_1.backers != 0]

In [24]:
len(data_frame_1[ data_frame_1['backers'] == 0 ])

0

In [25]:
len(data_frame_1[ data_frame_1['backers'] != 0 ])

55532

## Create a DataFrame 
whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.

In [26]:
indexes = [ 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ]
datum = { 'prime_numbers':[1,2,3,5,7,9,11,13,17,19], 'fibonacci':[1,1,2,3,5,8,13,21,44,65]}
data_frame_2 = pd.DataFrame(data = datum, index=indexes)
data_frame_2

   prime_numbers  fibonacci
a              1          1
b              2          1
c              3          2
d              5          3
e              7          5
f              9          8
g             11         13
h             13         21
i             17         44
j             19         65

## Merge these two DataFrames into a single DataFrame: 
nycflights13. Please use the following dataset for merging purposes:

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv

https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv

In [98]:
data_frame_3 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/flights.csv')
data_frame_4 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/airlines.csv')

In [99]:
data_frame_5 = data_frame_3.merge(data_frame_4, suffixes=('_3', '_4'), on="carrier")

In [100]:
data_frame_5

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00,United Air Lines Inc.
3,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,2013-01-01 06:00:00,United Air Lines Inc.
4,2013,1,1,558.0,600,-2.0,923.0,937,-14.0,UA,1124,N53441,EWR,SFO,361.0,2565,6,0,2013-01-01 06:00:00,United Air Lines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,19,1759.0,1805,-6.0,1946.0,1953,-7.0,OO,5568,N760SK,LGA,CLE,64.0,419,18,5,2013-09-19 18:00:00,SkyWest Airlines Inc.
336772,2013,9,20,1758.0,1805,-7.0,1929.0,1953,-24.0,OO,5568,N766SK,LGA,CLE,60.0,419,18,5,2013-09-20 18:00:00,SkyWest Airlines Inc.
336773,2013,9,22,1759.0,1805,-6.0,1945.0,1953,-8.0,OO,5568,N772SK,LGA,CLE,67.0,419,18,5,2013-09-22 18:00:00,SkyWest Airlines Inc.
336774,2013,9,23,1759.0,1805,-6.0,1935.0,1953,-18.0,OO,5568,N776SK,LGA,CLE,68.0,419,18,5,2013-09-23 18:00:00,SkyWest Airlines Inc.
336775,2013,9,24,1751.0,1805,-14.0,1937.0,1953,-16.0,OO,5568,N785SK,LGA,CLE,67.0,419,18,5,2013-09-24 18:00:00,SkyWest Airlines Inc.

In [101]:
data_frame_4

   carrier                         name
0       9E            Endeavor Air Inc.
1       AA       American Airlines Inc.
2       AS         Alaska Airlines Inc.
3       B6              JetBlue Airways
4       DL         Delta Air Lines Inc.
5       EV     ExpressJet Airlines Inc.
6       F9       Frontier Airlines Inc.
7       FL  AirTran Airways Corporation
8       HA       Hawaiian Airlines Inc.
9       MQ                    Envoy Air
10      OO        SkyWest Airlines Inc.
11      UA        United Air Lines Inc.
12      US              US Airways Inc.
13      VX               Virgin America
14      WN       Southwest Airlines Co.
15      YV           Mesa Airlines Inc.

In [102]:
# Could also use 
data_frame_11 =  data_frame_3.set_index('carrier').join(data_frame_4.set_index('carrier'))
data_frame_11

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
carrier,,,,,,,,,,,,,,,,,,,
9E,2013,1,1,810.0,810,0.0,1048.0,1037,11.0,3538,N915XJ,JFK,MSP,189.0,1029,8,10,2013-01-01 08:00:00,Endeavor Air Inc.
9E,2013,1,1,1451.0,1500,-9.0,1634.0,1636,-2.0,4105,N8444F,JFK,IAD,57.0,228,15,0,2013-01-01 15:00:00,Endeavor Air Inc.
9E,2013,1,1,1452.0,1455,-3.0,1637.0,1639,-2.0,3295,N920XJ,JFK,BUF,68.0,301,14,55,2013-01-01 14:00:00,Endeavor Air Inc.
9E,2013,1,1,1454.0,1500,-6.0,1635.0,1636,-1.0,3843,N8409N,JFK,SYR,57.0,209,15,0,2013-01-01 15:00:00,Endeavor Air Inc.
9E,2013,1,1,1507.0,1515,-8.0,1651.0,1656,-5.0,3792,N8631E,JFK,ROC,66.0,264,15,15,2013-01-01 15:00:00,Endeavor Air Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YV,2013,9,29,1650.0,1629,21.0,1810.0,1750,20.0,3771,N518LR,LGA,IAD,41.0,229,16,29,2013-09-29 16:00:00,Mesa Airlines Inc.
YV,2013,9,29,1801.0,1735,26.0,1957.0,1946,11.0,2751,N932LR,LGA,CLT,79.0,544,17,35,2013-09-29 17:00:00,Mesa Airlines Inc.
YV,2013,9,30,1643.0,1629,14.0,1800.0,1750,10.0,3771,N510MJ,LGA,IAD,42.0,229,16,29,2013-09-30 16:00:00,Mesa Airlines Inc.
YV,2013,9,30,1731.0,1735,-4.0,1921.0,1946,-25.0,2751,N905FJ,LGA,CLT,78.0,544,17,35,2013-09-30 17:00:00,Mesa Airlines Inc.
YV,2013,9,30,2000.0,2000,0.0,2207.0,2211,-4.0,2677,N924FJ,LGA,CLT,75.0,544,20,0,2013-09-30 20:00:00,Mesa Airlines Inc.

In [103]:
# could also use
pd.concat([data_frame_3.set_index('carrier'), data_frame_4.set_index('carrier')])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
carrier,,,,,,,,,,,,,,,,,,,
UA,2013.0,1.0,1.0,517.0,515.0,2.0,830.0,819.0,11.0,1545.0,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00,NaN
UA,2013.0,1.0,1.0,533.0,529.0,4.0,850.0,830.0,20.0,1714.0,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00,NaN
AA,2013.0,1.0,1.0,542.0,540.0,2.0,923.0,850.0,33.0,1141.0,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00,NaN
B6,2013.0,1.0,1.0,544.0,545.0,-1.0,1004.0,1022.0,-18.0,725.0,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00,NaN
DL,2013.0,1.0,1.0,554.0,600.0,-6.0,812.0,837.0,-25.0,461.0,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United Air Lines Inc.
US,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,US Airways Inc.
VX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin America
WN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southwest Airlines Co.
YV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mesa Airlines Inc.

## Are there any missing values in this DataFrame? If so, drop them.

In [30]:
data_frame_5.isna().sum()

year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
name                 0
dtype: int64

In [31]:
print("length of dataframe before removal is ", len(data_frame_5))
data_frame_6 = data_frame_5.dropna()
print("length of dataframe before removal is ", len(data_frame_6))
data_frame_5.head()

length of dataframe before removal is  336776
length of dataframe before removal is  327346

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00,United Air Lines Inc.
3,2013,1,1,558.0,600,-2.0,924.0,917,7.0,UA,194,N29129,JFK,LAX,345.0,2475,6,0,2013-01-01 06:00:00,United Air Lines Inc.
4,2013,1,1,558.0,600,-2.0,923.0,937,-14.0,UA,1124,N53441,EWR,SFO,361.0,2565,6,0,2013-01-01 06:00:00,United Air Lines Inc.

## Merge these two DataFrames into a single DataFrame called census.
Please use the following dataset for merging purposes:

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv'

'https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv'

In [32]:
data_frame_7 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv')
data_frame_8 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv')

In [33]:
data_frame_7

,state,2010,2011,2012,2013,2014,2015,2016
0,Alabama,4785492,4799918,4815960,4829479,4843214,4853875,4863300
1,Alaska,714031,722713,731089,736879,736705,737709,741894
2,Arizona,6408312,6467163,6549634,6624617,6719993,6817565,6931071
3,Arkansas,2921995,2939493,2950685,2958663,2966912,2977853,2988248
4,California,37332685,37676861,38011074,38335203,38680810,38993940,39250017
5,Colorado,5048644,5118360,5189867,5267603,5349648,5448819,5540545
6,Connecticut,3579899,3589893,3593795,3596003,3591873,3584730,3576452
7,Delaware,899816,907924,916993,925395,934948,944076,952065
8,District of Columbia,605183,620477,635327,649165,659005,670377,681170
9,Florida,18849098,19096952,19344156,19582022,19888741,20244914,20612439
10,Georgia,9713521,9811610,9914668,9984938,10087231,10199398,10310371
11,Hawaii,1363945,1377864,1391820,1406481,1416349,1425157,1428557
12,Idaho,1571010,1584143,1595911,1612011,1633532,1652828,1683140
13,Illinois,12841578,12860012,12870798,12879505,12867544,12839047,12801539
14,Indiana,6490528,6516480,6537743,6569102,6595233,6612768,6633053
15,Iowa,3050738,3065223,3076310,3091930,3108030,3121997,3134693
16,Kansas,2858850,2869503,2885262,2892821,2899360,2906721,2907289
17,Kentucky,4348662,4369354,4384799,4400477,4413057,4424611,4436974
18,Louisiana,4544996,4575404,4603429,4626402,4647880,4668960,4681666
19,Maine,1327730,1328231,1328895,1329076,1330719,1329453,1331479
20,Maryland,5788584,5843603,5889651,5931129,5967295,5994983,6016447
21,Massachusetts,6565524,6611923,6658008,6706786,6749911,6784240,6811779
22,Michigan,9877495,9876213,9887238,9898982,9915767,9917715,9928300
23,Minnesota,5311147,5348562,5380285,5418521,5453109,5482435,5519952
24,Mississippi,2970322,2978162,2984945,2990482,2992400,2989390,2988726
25,Missouri,5996118,6010717,6025415,6042711,6060930,6076204,6093000
26,Montana,990641,997821,1005196,1014314,1022867,1032073,1042520
27,Nebraska,1830051,1842283,1855725,1868559,1881145,1893765,1907116
28,Nevada,2703284,2718379,2752565,2786464,2833013,2883758,2940058
29,New Hampshire,1316872,1318473,1321182,1322687,1328743,1330111,1334795
30,New Jersey,8803729,8841243,8873211,8899162,8925001,8935421,8944469
31,New Mexico,2064756,2077756,2083784,2085193,2083024,2080328,2081015
32,New York,19402640,19519529,19602769,19673546,19718515,19747183,19745289
33,North Carolina,9558915,9650963,9746175,9841590,9934399,10035186,10146788
34,North Dakota,674526,685476,702087,724019,739904,756835,757952
35,Ohio,11540983,11544824,11550839,11570022,11594408,11605090,11614373
36,Oklahoma,3759603,3786274,3817054,3852415,3877499,3907414,3923561
37,Oregon,3838048,3868031,3899116,3925751,3968371,4024634,4093465
38,Pennsylvania,12712343,12744293,12771854,12781338,12790565,12791904,12784227
39,Rhode Island,1053337,1052451,1052901,1053033,1054480,1055607,1056426
40,South Carolina,4635943,4672637,4720760,4767894,4828430,4894834,4961119
41,South Dakota,816325,824398,834441,844922,852561,857919,865454
42,Tennessee,6356671,6397634,6454306,6494821,6544663,6595056,6651194
43,Texas,25244310,25646389,26071655,26473525,26944751,27429639,27862596
44,Utah,2775326,2816124,2855782,2902663,2941836,2990632,3051217
45,Vermont,625982,626730,626444,627140,626984,626088,624594
46,Virginia,8025773,8110035,8192048,8262692,8317372,8367587,8411808
47,Washington,6743226,6822520,6895226,6968006,7054196,7160290,7288000
48,West Virginia,1854230,1854972,1856560,1853231,1848514,1841053,1831102
49,Wisconsin,5690263,5709640,5726177,5742854,5758377,5767891,5778708
50,Wyoming,564513,567725,576765,582684,583642,586555,585501

In [34]:
data_frame_8

                   state     region            division
0            Connecticut  Northeast         New England
1                  Maine  Northeast         New England
2          Massachusetts  Northeast         New England
3          New Hampshire  Northeast         New England
4           Rhode Island  Northeast         New England
5                Vermont  Northeast         New England
6             New Jersey  Northeast     Middle Atlantic
7               New York  Northeast     Middle Atlantic
8           Pennsylvania  Northeast     Middle Atlantic
9               Illinois    Midwest  East North Central
10               Indiana    Midwest  East North Central
11              Michigan    Midwest  East North Central
12                  Ohio    Midwest  East North Central
13             Wisconsin    Midwest  East North Central
14                  Iowa    Midwest  West North Central
15                Kansas    Midwest  West North Central
16             Minnesota    Midwest  West North Central
17              Missouri    Midwest  West North Central
18              Nebraska    Midwest  West North Central
19          North Dakota    Midwest  West North Central
20          South Dakota    Midwest  West North Central
21              Delaware      South      South Atlantic
22  District of Columbia      South      South Atlantic
23               Florida      South      South Atlantic
24               Georgia      South      South Atlantic
25              Maryland      South      South Atlantic
26        North Carolina      South      South Atlantic
27        South Carolina      South      South Atlantic
28              Virginia      South      South Atlantic
29         West Virginia      South      South Atlantic
30               Alabama      South  East South Central
31              Kentucky      South  East South Central
32           Mississippi      South  East South Central
33             Tennessee      South  East South Central
34              Arkansas      South  West South Central
35             Louisiana      South  West South Central
36              Oklahoma      South  West South Central
37                 Texas      South  West South Central
38               Arizona       West            Mountain
39              Colorado       West            Mountain
40                 Idaho       West            Mountain
41               Montana       West            Mountain
42                Nevada       West            Mountain
43            New Mexico       West            Mountain
44                  Utah       West            Mountain
45               Wyoming       West            Mountain
46                Alaska       West             Pacific
47            California       West             Pacific
48                Hawaii       West             Pacific
49                Oregon       West             Pacific
50            Washington       West             Pacific

In [35]:
data_frame_9 = data_frame_7.merge(data_frame_8)

## Re-shape census 
so that one column contains all population measures, and another the year attributes.

movies_df_dropped.pivot(index='Director', columns='Year', values='Runtime (Minutes)')

In [36]:
data_frame_10 = data_frame_9.melt(id_vars=["state", "division", "region"])
data_frame_10 = data_frame_10.rename(columns={"variable":"year"})
data_frame_10

             state            division   region  year     value
0          Alabama  East South Central    South  2010   4785492
1           Alaska             Pacific     West  2010    714031
2          Arizona            Mountain     West  2010   6408312
3         Arkansas  West South Central    South  2010   2921995
4       California             Pacific     West  2010  37332685
..             ...                 ...      ...   ...       ...
352       Virginia      South Atlantic    South  2016   8411808
353     Washington             Pacific     West  2016   7288000
354  West Virginia      South Atlantic    South  2016   1831102
355      Wisconsin  East North Central  Midwest  2016   5778708
356        Wyoming            Mountain     West  2016    585501

[357 rows x 5 columns]

## 13- Group the data by year and summarize it.

In [37]:
## 13- Group the data by year and summarize it.

In [38]:
data_frame_10.groupby("year").agg(['mean', 'min', 'max'])

/var/folders/1c/tyj7zpyn45bc8g5c1h6mz2s00000gn/T/ipykernel_39003/647697969.py:1: FutureWarning: ['state', 'division', 'region'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  data_frame_10.groupby("year").agg(['mean', 'min', 'max'])

             value
              mean     min       max
year
2010  6.065651e+06  564513  37332685
2011  6.111046e+06  567725  37676861
2012  6.156831e+06  576765  38011074
2013  6.200096e+06  582684  38335203
2014  6.246342e+06  583642  38680810
2015  6.292091e+06  586555  38993940
2016  6.335834e+06  585501  39250017

In [39]:
## 14- Group the data by region, division and year and summarize it.

In [40]:
data_frame_10.groupby(["region", "division", "year"]).agg(['mean', 'min', 'max'])

/var/folders/1c/tyj7zpyn45bc8g5c1h6mz2s00000gn/T/ipykernel_39003/2476843773.py:1: FutureWarning: ['state'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  data_frame_10.groupby(["region", "division", "year"]).agg(['mean', 'min', 'max'])

                                      value
                                       mean      min       max
region  division           year
Midwest East North Central 2010   9288169.4  5690263  12841578
                           2011   9301433.8  5709640  12860012
                           2012   9314559.0  5726177  12870798
                           2013   9332093.0  5742854  12879505
                           2014   9346265.8  5758377  12867544
...                                     ...      ...       ...
West    Pacific            2012  10185665.0   731089  38011074
                           2013  10274464.0   736879  38335203
                           2014  10371286.2   736705  38680810
                           2015  10468346.0   737709  38993940
                           2016  10560386.6   741894  39250017

[63 rows x 3 columns]

## Create a crosstab 

between state and category showing amount pledged as the value. 

Please refer to the following link for this practice:

A pivot table can also be used.  The difference between a crosstab and pivot table is A pivot spreadsheet is a broader definition similar to cross tab. While the cross tab assumes there is only one horizontal dimension and all the values belong to that dimension, pivot assumes there might exist one or more horizontal dimensions.

In [105]:
data_frame_11 = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/ksprojects.csv')
data_frame_11

,id,name,category,main_category,deadline,goal,launched,state,backers,country,usd_pledged,currency,pledged
0,1147015301,"""All We Had"" Gets Into Cannes -- $10 or More G...",Documentary,Film & Video,2009-05-20 21:50:00,300.0,2009-04-30 22:10:30,failed,4,US,40.00,USD,40.00
1,1100844465,daily digest,Documentary,Film & Video,2009-06-01 02:20:00,700.0,2009-05-04 21:14:28,successful,14,US,700.00,USD,700.00
2,1316334968,Drive A Faster Car 2.0,Nonfiction,Publishing,2009-06-04 06:00:00,1000.0,2009-05-04 22:51:31,successful,32,US,1367.00,USD,1367.00
3,1304906577,Accidental to Edinburgh - PHASE 1: AIRFARE,Theater,Theater,2009-06-05 05:59:00,6000.0,2009-04-30 22:22:43,successful,24,US,6575.00,USD,6575.00
4,1099226462,Logical Guess Pictures' 2nd Horror Movie!,Film & Video,Film & Video,2009-06-06 00:45:00,500.0,2009-04-30 01:32:55,successful,22,US,501.66,USD,501.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65413,1107492255,DODEKA - music finally within everyone's reach!,Sound,Technology,2017-02-03 14:51:00,55000.0,2016-12-05 14:51:00,live,9,CH,1022.12,CHF,9287.00
65414,1373187022,World's Smallest Water-resistant Magnetic Came...,Gadgets,Technology,2017-02-03 17:23:11,2000.0,2016-12-05 17:23:11,canceled,148,US,5474.00,USD,5552.00
65415,1212504494,Varnville Central Station - Guest House #1,Product Design,Design,2017-02-03 20:17:57,30000.0,2016-12-05 20:17:57,live,0,US,0.00,USD,0.00
65416,1347446277,Luminaria emergencia Led con mensajes.,Technology,Technology,2017-02-03 21:51:02,30000.0,2016-12-05 21:51:02,live,0,ES,0.00,EUR,0.00
65417,1075208929,uSTAND,Product Design,Design,2017-02-04 08:54:55,250000.0,2016-12-06 08:54:55,live,0,DK,0.00,DKK,0.00

In [111]:
# 
pd.crosstab(index=data_frame_11.state, columns=data_frame_11.category,values=data_frame_11['pledged'],\
            aggfunc=sum)

category,3D Printing,Academic,Accessories,Action,Animals,Animation,Anthologies,Apparel,Apps,Architecture,...,Wearables,Weaving,Web,Webcomics,Webseries,Woodworking,Workshops,World Music,Young Adult,Zines
state,,,,,,,,,,,,,,,,,,,,,
canceled,106827.50,4364.00,124936.11,13342.0,0.00,58910.00,4583.00,228836.00,174745.49,12311.00,...,239056.0,212.0,88658.00,5668.00,54679.39,153.01,NaN,17136.00,661.00,6940.00
failed,371417.00,81427.74,320990.20,79978.1,15769.87,498129.57,20991.00,401102.55,553596.12,139656.99,...,718671.5,6686.0,382408.65,26085.00,1065147.12,60328.00,2360.0,120691.83,20920.20,19692.00
live,309215.00,31.00,60904.00,0.0,NaN,98403.80,3339.00,236921.59,60101.00,2117.00,...,141310.0,NaN,57931.00,82120.00,185.00,1211.73,0.0,9580.00,575.00,80.00
successful,8511414.01,354485.24,2569489.70,226333.9,75497.10,2605326.54,1346909.64,6446055.31,755165.60,460293.08,...,7381979.5,6019.0,912191.70,1164701.39,3821840.97,214568.35,21885.0,1069703.20,145305.62,48668.53
suspended,10146.00,226.00,3822.00,NaN,0.00,0.00,NaN,56213.00,12989.00,131.00,...,9344.0,0.0,50.00,NaN,14878.00,91.00,0.0,37.00,NaN,NaN
undefined,13757.00,NaN,2763.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
import numpy as np
pd.set_option('Display.max_columns', None, 'Display.max_rows', None)
res_1 = pd.pivot_table(data_frame_11,index='state', columns='category', values='pledged', aggfunc=[sum, np.mean, np.std])
res_1

                   sum                                                         \
category   3D Printing   Academic Accessories    Action   Animals   Animation
state
canceled     106827.50    4364.00   124936.11   13342.0      0.00    58910.00
failed       371417.00   81427.74   320990.20   79978.1  15769.87   498129.57
live         309215.00      31.00    60904.00       0.0       NaN    98403.80
successful  8511414.01  354485.24  2569489.70  226333.9  75497.10  2605326.54
suspended     10146.00     226.00     3822.00       NaN      0.00        0.00
undefined     13757.00        NaN     2763.00       NaN       NaN         NaN

                                                                        \
category   Anthologies     Apparel       Apps Architecture         Art
state
canceled       4583.00   228836.00  174745.49     12311.00    29506.14
failed        20991.00   401102.55  553596.12    139656.99   528273.77
live           3339.00   236921.59   60101.00      2117.00    77595.41
successful  1346909.64  6446055.31  755165.60    460293.08  3298333.71
suspended          NaN    56213.00   12989.00       131.00        0.00
undefined          NaN         NaN        NaN          NaN         NaN

                                                                \
category     Art Books      Audio    Bacon    Blues  Calendars
state
canceled      14033.09     541.00     31.0    470.0    5263.00
failed       294030.35   16584.00   5177.0  10069.0    5657.02
live         287242.00    1664.00   1381.0   4420.0   48340.00
successful  3087076.01  590644.77  57115.0  99588.0  306635.41
suspended      1400.52        NaN      1.0      NaN   10693.00
undefined          NaN        NaN      NaN      NaN        NaN

                                                                  \
category   Camera Equipment   Candles  Ceramics Children's Books
state
canceled           48043.50   1439.00     806.0         53382.01
failed            121108.75   4623.00    6021.0        454783.37
live                5921.00      0.00     269.0         71478.11
successful       5426436.00  14408.01  220099.0       3122022.85
suspended           4375.00       NaN       NaN              NaN
undefined               NaN       NaN       NaN              NaN

                                                                             \
category   Childrenswear  Chiptune Civic Design Classical Music      Comedy
state
canceled         6070.60     28.00       1833.0         9988.00    72922.21
failed          68861.00       NaN      91037.5       186425.22   253610.17
live              784.00       NaN          0.0         1389.00    39661.00
successful     142913.27  62645.83     402552.5      2151253.65  1226153.54
suspended            NaN       NaN        370.0            0.00       35.00
undefined            NaN       NaN          NaN             NaN         NaN

                                                                     \
category   Comic Books      Comics Community Gardens Conceptual Art
state
canceled      26640.00    46538.92             718.0        3365.69
failed        88176.01   404000.29           39245.0       24727.01
live          15416.93      574.00               NaN        2690.00
successful  1173676.27  6115498.06           90942.4      225399.64
suspended       109.00       92.00               NaN            NaN
undefined          NaN         NaN               NaN            NaN

                                                                              \
category    Cookbooks Country & Folk  Couture      Crafts Crochet        DIY
state
canceled       167.00       35309.04     21.0    28804.40    25.0     753.00
failed       23844.00      238956.38  22643.0   143418.77  1474.0   50717.00
live          3863.00        8118.00     55.0    33529.00     NaN   10678.45
successful  637210.24     3448604.47  64458.0  1158286.91  4862.0  159748.30
suspended        0.00            NaN      0.0     1023.00     NaN      11.00
undefined         NaN            NaN      NaN         NaN     NaN        NaN

                                                                             \
category   DIY Electronics       Dance      Design Digital Art  Documentary
state
canceled           15942.0     7941.50   260412.70     3515.00    231444.58
failed             70565.0   106039.99  1800851.86    44376.69   2686899.76
live                2009.0      350.00  2182109.00       25.00    144990.00
successful       4498787.2  1540676.28  6212822.98   623569.04  20372005.26
suspended              NaN         NaN   132481.50        0.00       544.00
undefined              NaN         NaN         NaN         NaN          NaN

                                                                           \
category         Drama      Drinks Electronic Music Embroidery     Events
state
canceled      34231.00    31179.00         10861.00        1.0   10145.99
failed       268517.50   403919.02         78335.54      487.0   36647.00
live          15287.00    12468.00         34629.12        0.0       0.00
successful  1180679.58  1862547.80        774052.08     8117.0  132875.47
suspended     12402.50      120.00          1317.00        NaN       0.00
undefined          NaN         NaN              NaN        NaN        NaN

                                                                          \
category   Experimental Fabrication Tools      Faith    Family   Fantasy
state
canceled       21819.20           31898.0   61793.00    3573.0   38325.0
failed         16502.00           20942.0   44191.04   38108.0  232856.6
live            3752.00               NaN     184.00   22657.0      20.0
successful    281396.99         2344300.0  544475.57  268308.8  387812.0
suspended           NaN               NaN        NaN       NaN       NaN
undefined           NaN               NaN        NaN       NaN       NaN

                                                                          \
category   Farmer's Markets      Farms     Fashion Festivals     Fiction
state
canceled                0.0   11506.00   129262.00    2278.0    37056.90
failed              11697.0  118604.05   814673.56   17668.0   452511.76
live                    NaN     593.00    65927.50     551.0     1982.00
successful          75663.0  588805.84  6753450.06  508089.2  1953792.74
suspended               NaN        NaN    72406.00       0.0        1.00
undefined               NaN        NaN         NaN       NaN         NaN

                                                                       \
category   Film & Video   Fine Art    Flight         Food Food Trucks
state
canceled      422954.96    1931.00   12933.0    172229.20     4932.00
failed       1023052.92   38140.00  214908.0   1696644.30   124205.08
live           20695.00    4498.00  107645.0    327076.00      110.00
successful   5936638.81  369244.81  794071.5  10497400.05   493298.60
suspended         30.00       0.00     101.0     60663.00         NaN
undefined     263300.96        NaN       NaN          NaN         NaN

                                                                         \
category     Footwear      Gadgets       Games Gaming Hardware    Glass
state
canceled      60938.0    307867.20   141609.02          4362.0      0.0
failed       130019.0    905062.05   404475.06         89343.4   2505.0
live         142485.0    254182.70    14388.00           871.0      0.0
successful  2694403.1  10415533.07  1929176.94      11721471.0  50658.0
suspended     22480.0     39428.00      306.00         31584.0      NaN
undefined         NaN          NaN     7902.00             NaN      NaN

                                                                             \
category   Graphic Design Graphic Novels     Hardware    Hip-Hop     Horror
state
canceled         52418.00       13044.00   1218811.44   15303.00   18362.61
failed          162070.48       96182.23   1857027.13   96462.31  227107.00
live              1742.00        9947.11    226547.00     167.00    9982.00
successful     3051895.51     2395162.20  29166233.65  434908.14  707841.71
suspended            0.00            NaN     45118.00     359.00       0.00
undefined             NaN            NaN          NaN       0.00        NaN

                                                              \
category   Illustration  Immersive  Indie Rock Installations
state
canceled        5732.00       0.00    23631.11       3065.00
failed        115882.34   31196.20   255809.16      28325.11
live           12677.00    2416.00     6615.00      17705.00
successful   1599356.38  209497.99  4314958.72     166911.86
suspended          5.00        NaN       57.00         95.00
undefined           NaN        NaN         NaN           NaN

                                                                           \
category   Interactive Design        Jazz    Jewelry Journalism      Kids
state
canceled              9441.00     7268.00   38674.00    7366.00    1690.0
failed               87058.00   150215.89   36123.97  116554.80   15787.0
live                 15715.00      255.00    5672.00     498.00    3001.0
successful          115713.01  1165551.37  500777.09  584720.15  261077.3
suspended                 NaN      300.00       0.00      10.00       NaN
undefined                 NaN         NaN        NaN        NaN       NaN

                                                                        \
category    Knitting    Latin Letterpress Literary Journals Live Games
state
canceled    21218.00      0.0         NaN           8719.00    20047.0
failed       6394.25  55618.0       623.0           2013.65   247177.0
live         5487.50   1330.0         NaN               NaN     2120.0
successful  51458.50  36845.5     22861.0         180091.00   200691.5
suspended        NaN      NaN         NaN               NaN      413.0
undefined        NaN      NaN         NaN               NaN        NaN

                                                                           \
category   Makerspaces      Metal Mixed Media Mobile Games Movie Theaters
state
canceled      28854.00    4156.79    29112.33     46692.00           85.0
failed        71022.50   18793.08   156921.70    123315.80        23957.0
live         143256.00    7869.00     5511.00      3597.00         3075.0
successful   169877.52  183868.98  1971531.72    308301.53       418589.2
suspended         0.00      17.00       38.00        91.00            NaN
undefined          NaN        NaN         NaN          NaN            NaN

                                                                         \
category         Music Music Videos    Musical Narrative Film    Nature
state
canceled      56045.41      3093.17    1762.00      824500.46     242.0
failed       803524.66     34367.00   80834.35     1560456.82   17006.0
live          69936.86      1937.00     650.00        6799.88       NaN
successful  9320021.97    248428.70  441880.39     6461968.02  192969.3
suspended     14443.00          NaN      90.00       25336.00       NaN
undefined   1345209.68          NaN        NaN            NaN       NaN

                                                                           \
category    Nonfiction   Painting     People Performance Art Performances
state
canceled      52010.06   13920.00   13815.00        12177.00      2000.00
failed       681071.66  135294.33   64665.01       155011.38     17391.22
live          57832.20    2327.00       0.00         2910.00      2377.00
successful  3149604.56  994103.56  289078.50       771513.53    462508.47
suspended         0.00        NaN      29.00          210.00         1.00
undefined       175.00        NaN        NaN             NaN          NaN

                                                                      \
category   Periodicals Pet Fashion     Photo  Photobooks Photography
state
canceled      82573.02         0.0   1305.00     4566.00    33879.67
failed       150615.85      1176.0  13020.62   147181.04   565824.25
live           5374.55         NaN     11.00    36538.10     2005.00
successful   875985.20     45105.0  10228.00  1785474.42  2999687.32
suspended          NaN      5319.0       NaN         NaN       40.00
undefined          NaN         NaN       NaN         NaN         NaN

                                                                               \
category      Places Playing Cards      Plays     Poetry         Pop  Pottery
state
canceled     1886.60     108299.85    8379.00    5323.72    21648.69    793.0
failed      14517.00     143088.09   38029.00   18129.10   182554.07  12655.0
live            0.00       1105.00   13786.00     938.18      600.00     17.0
successful  64610.34    2965079.95  596187.89  200022.23  1974502.36  46201.5
suspended      20.00         37.00        NaN        NaN         NaN      NaN
undefined        NaN           NaN        NaN        NaN         NaN      NaN

                                                                        \
category        Print  Printing Product Design  Public Art  Publishing
state
canceled       399.00   1249.00     2670324.91    39379.00    60112.76
failed       18838.99   6727.25     5985831.20   379291.62   378139.91
live              NaN   1418.00     2744354.40    46375.00    47380.00
successful  215756.15  20462.00    80891555.83  2021501.53  3013584.98
suspended         NaN       NaN      424497.00    13059.00        9.00
undefined         NaN       NaN            NaN         NaN    15988.00

                                                                     \
category        Punk    Puzzles   Quilts       R&B Radio & Podcasts
state
canceled      160.00    1066.00     50.0    6556.0         17234.23
failed       6439.01  128763.00   8494.0   19583.0         40139.13
live          640.50    2346.00      NaN       NaN           130.00
successful  63835.86   97123.94  13430.0  153975.0       1168430.44
suspended       0.00        NaN      NaN       NaN              NaN
undefined        NaN        NaN      NaN       NaN              NaN

                                                                          \
category   Ready-to-wear Residencies Restaurants      Robots        Rock
state
canceled        27502.00         NaN    17536.00    74910.00    22103.01
failed          50123.00       806.0   316984.20    36928.78   355069.40
live                 NaN         NaN    54490.20      111.00    60226.00
successful     446619.26      1170.0  1581782.22  2249336.20  3865324.03
suspended          92.00         NaN        1.00     1395.00       50.00
undefined            NaN         NaN         NaN         NaN         NaN

                                                                          \
category     Romance Science Fiction   Sculpture      Shorts Small Batch
state
canceled     3716.00         7878.00     5918.00   140634.12     3079.00
failed       6917.00       122072.20   148599.98   707125.69   125309.99
live         6416.00         9710.00      155.00    24804.00    24307.00
successful  71848.42      1548532.56  2621162.49  6967610.04  1330020.17
suspended       0.00        10208.00     2233.00    30404.00      128.00
undefined        NaN             NaN         NaN         NaN         NaN

                                                                           \
category      Software       Sound Space Exploration    Spaces Stationery
state
canceled      66705.13     70056.5           3319.00    6484.0     155.00
failed       423547.93    127646.2          34722.00   75671.0    2233.19
live          10819.01     44942.0               NaN    3145.0     125.00
successful  1200860.24  15630013.7        1674259.82  808600.6   24679.00
suspended         4.00       250.0              9.00       NaN       0.00
undefined       500.00         NaN               NaN       NaN        NaN

                                                                       \
category   Tabletop Games Taxidermy   Technology Television  Textiles
state
canceled       1436577.93      75.0    578127.24   26035.00   1358.00
failed         1532139.75    1797.0   1936214.00   55507.56  21411.51
live           1009476.01       NaN    191399.50    4142.00       NaN
successful    78345994.67       NaN  15612920.85  490911.32  91047.48
suspended        20644.52       NaN    332333.38        NaN       NaN
undefined             NaN       NaN          NaN        NaN       NaN

                                                                               \
category       Theater  Thrillers Translations Typography     Vegan     Video
state
canceled      83890.14   19800.00          NaN       64.0    2216.0    241.00
failed       435522.83   84230.91       8058.0     1342.0   96696.0  71761.00
live           3026.00   22879.00          NaN        NaN    2036.0      0.00
successful  4253865.91  433228.52      99411.3   171483.4  435842.9  61694.02
suspended       451.00      10.00          NaN        NaN       0.0      0.00
undefined      2621.00        NaN          NaN        NaN       NaN       NaN

                                                                             \
category   Video Art  Video Games  Wearables Weaving        Web   Webcomics
state
canceled       101.0   1300561.31   239056.0   212.0   88658.00     5668.00
failed        3057.0   3711669.28   718671.5  6686.0  382408.65    26085.00
live             NaN    401895.00   141310.0     NaN   57931.00    82120.00
successful   64137.5  33268671.52  7381979.5  6019.0  912191.70  1164701.39
suspended        NaN     23883.00     9344.0     0.0      50.00         NaN
undefined        NaN          NaN        NaN     NaN        NaN         NaN

                                                                      \
category     Webseries Woodworking Workshops World Music Young Adult
state
canceled      54679.39      153.01       NaN    17136.00      661.00
failed      1065147.12    60328.00    2360.0   120691.83    20920.20
live            185.00     1211.73       0.0     9580.00      575.00
successful  3821840.97   214568.35   21885.0  1069703.20   145305.62
suspended     14878.00       91.00       0.0       37.00         NaN
undefined          NaN         NaN       NaN         NaN         NaN

                               mean                                           \
category       Zines    3D Printing     Academic   Accessories        Action
state
canceled     6940.00    6283.970588   207.809524   2602.835625    953.000000
failed      19692.00    6295.203390   946.834186   1348.698319   1012.381013
live           80.00  103071.666667    10.333333   3806.500000      0.000000
successful  48668.53  197939.860698  8243.842791  21235.452066  14145.868750
suspended        NaN    5073.000000    56.500000   1911.000000           NaN
undefined        NaN   13757.000000          NaN   2763.000000           NaN

                                                                   \
category        Animals     Animation   Anthologies       Apparel
state
canceled       0.000000   1436.829268   1145.750000   1801.858268
failed       508.705484   2033.181918    617.382353    586.407237
live                NaN  12300.475000    556.500000   6403.286216
successful  6863.372727  19442.735373  16227.826988  30550.025166
suspended      0.000000      0.000000           NaN  11242.600000
undefined           NaN           NaN           NaN           NaN

                                                                   \
category            Apps  Architecture          Art     Art Books
state
canceled     1052.683675   1231.100000   254.363276    483.899655
failed        706.117500   1623.918488   752.526738   1572.354813
live         2146.464286    529.250000  4564.435882  47873.666667
successful  13730.283636  17703.580000  5900.418086  13968.669729
suspended    2597.800000     65.500000     0.000000   1400.520000
undefined            NaN           NaN          NaN           NaN

                                                                  \

In [118]:
# A way to access the dataframe.  Note that [0]['data_frame_11'] does not work
# Cannot set it equal to a value
print("Accessing an element: ", data_frame_11.copy()['category'][0])
data_frame_11.copy()['category'][0] = "Chuck"
print("Modifying an element see line using copy ...", data_frame_11.iloc[0])

Accessing an element:  Documentary
Modifying an element see line using copy ... id                                                      1147015301
name             "All We Had" Gets Into Cannes -- $10 or More G...
category                                               Documentary
main_category                                         Film & Video
deadline                                       2009-05-20 21:50:00
goal                                                         300.0
launched                                       2009-04-30 22:10:30
state                                                       failed
backers                                                          4
country                                                         US
usd_pledged                                                   40.0
currency                                                       USD
pledged                                                       40.0
Name: 0, dtype: object